# Proyecto final

Cargamos las librerias

In [1]:
from scipy import stats
from sklearn import datasets
import numpy as np
import pandas as pd 
import math
import random
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D

cargamos la base de datos

In [7]:
data_set = pd.read_csv('problem1.csv',sep=',',header='infer')
db = data_set.copy()

In [11]:
db.head()

   X_training  Y_training  X_test    Y_test
0       -2.00   22.067387    2.00  6.024049
1       -1.97   19.944915    2.05  6.885408
2       -1.94   18.062490    2.10  7.578968
3       -1.91   16.384313    2.15  8.439467
4       -1.88   14.567798    2.20  9.554611

de aqui sacamos los datos que necesitamos

In [13]:
x_train = db.loc[:,'X_training']
y_train = db.loc[:,'Y_training']
x_test = db.loc[:,'X_test']
y_test = db.loc[:,'Y_test']

0     -2.00
1     -1.97
2     -1.94
3     -1.91
4     -1.88
       ...
129    1.87
130    1.90
131    1.93
132    1.96
133    1.99
Name: X_training, Length: 134, dtype: float64